.Loader {
  position:         fixed;
  top:              0;
  right:            0;
  bottom:           0;
  left:             0;
  z-index:          9999;
  margin:           0 auto;
  background-color: rgba(255, 255, 255, .7);
  div {
    position: fixed;
    top:      calc(50% - 50px);
    left:     calc(50% - 50px);
    margin:   0 auto;
    width:    100px;
    &:before {
      content:     '';
      display:     block;
      padding-top: 100%;
    }
  }
  svg {
    animation:        rotate 2s linear infinite;
    height:           100%;
    transform-origin: center center;
    width:            100%;
    position:         absolute;
    top:              0; bottom: 0; left: 0; right: 0;
    margin:           auto;
  }

  circle {
    stroke-dasharray:  1, 200;
    stroke-dashoffset: 0;
    animation:         dash 1.5s ease-in-out infinite,
                       color 9s ease-in-out infinite;
    stroke-linecap:    round;
    opacity:           .7;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray:  1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray:  89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray:  89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%, 0% {
    stroke: #086cc4;
  }
  10% {
    stroke: #08c49f;
  }
  20% {
    stroke: #08c421;
  }
  30% {
    stroke: #6cc408;
  }
  40% {
    stroke: #c49f08;
  }
  50% {
    stroke: #c42108;
  }
  60% {
    stroke: #c4086c;
  }
  70% {
    stroke: #9f08c4;
  }
  80% {
    stroke: #2108c4;
  }
  90% {
    stroke: #084dc4;
  }
}
