@import '../../css/constants';
// Input
//––––––––––––––––––––––––––––––––––––––––––––––––––
.input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display:          inline-block;
    height:           38px;
    padding:          0 30px;
    color:            $secondary-color;
    text-align:       center;
    font-size:        11px;
    font-weight:      600;
    line-height:      38px;
    letter-spacing:   .1rem;
    text-transform:   uppercase;
    text-decoration:  none;
    white-space:      nowrap;
    background-color: transparent;
    border-radius:    $global-radius;
    border:           1px solid $border-color;
    cursor:           pointer;
    box-sizing:       border-box;
  }
}

.input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {
    color:        $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline:      0;
  }
}

.input {
  &[type="submit"]:focus,
  &[type="reset"]:focus,
  &[type="button"]:focus {
    color:        $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline:      0;
  }
}

.input {
  &[type="submit"].button_primary,
  &[type="reset"].button_primary,
  &[type="button"].button_primary {
    color:            #fff;
    background-color: $primary-color;
    border-color:     $primary-color;
  }
}

.input {
  &[type="submit"].button_primary:hover,
  &[type="reset"].button_primary:hover,
  &[type="button"].button_primary:hover {
    color:            #fff;
    background-color: $link-color;
    border-color:     $link-color;
  }
}

.input {
  &[type="submit"].button_primary:focus,
  &[type="reset"].button_primary:focus,
  &[type="button"].button_primary:focus {
    color:            #fff;
    background-color: $link-color;
    border-color:     $link-color;
  }
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    height:           38px;
    padding:          6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border:           1px solid lighten($border-color, 8.8%);
    border-radius:    $global-radius;
    box-shadow:       none;
    box-sizing:       border-box;
  }
}
