/*.Header {
  * {
    -webkit-box-sizing : border-box; -moz-box-sizing : border-box; box-sizing : border-box;
  }
  height           : $header-height;
  line-height      : $header-height;
  background-color : #086cc3;
  li, div, a {
    color : white;
  }

  > ul {
    display : block;
    margin  : 0;
    padding : 0 1rem;
    li {

      ul {
        padding : 0;
        margin  : 0;
      }
    }
  }

  li {
    list-style         : none;
    cursor             : pointer;
    -webkit-transition : all .2s; -moz-transition : all .2s; -ms-transition : all .2s; -o-transition : all .2s; transition : all .2s;
  }

  span, li, i {
    -webkit-user-select : none; -moz-user-select : none; -ms-user-select : none; user-select : none;
  }

}*/
.HeaderBrand {
  position: relative;
  float:    left;
  z-index:  1050; }

.HeaderBrand li {
  display:        table-cell;
  vertical-align: middle; }

.HeaderBrand li:last-child {
  padding-left: 1rem; }

.HeaderBrand .HeaderBrandLogo {
  background:          url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="9.9 -60.6 1245.4 1283" enable-background="new 9.9 -60.6 1245.4 1283" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace">\a<path fill="#FFFFFF" d="M1246.4,547.2c-1.6-24-315.2-46.4-534.4-32c-8-41.6,3.2-113.6,35.2-164.8c27.2-25.6,62.4-33.6,94.4-22.4  c38.4,14.4,62.4,57.6,65.6,116.8v1.6c22.4,3.2,54.4,6.4,89.6,6.4c72,0,155.2-9.6,177.6-32c6.4-6.4,6.4-12.8,4.8-16  c0-1.6,0-1.6-1.6-1.6c-9.6-62.4-97.6-217.6-356.8-216c-294.4,1.6-427.2,267.2-408,515.2c0,1.6-1.6,3.2-1.6,3.2v1.6  c3.2,28.8,124.8,32,377.6,28.8c49.6-1.6,92.8-1.6,124.8,0c-1.6,12.8-1.6,27.2-3.2,43.2c-3.2,67.2-8,136-99.2,140.8  c-40-16-75.2-59.2-89.6-148.8c-99.2-6.4-251.2,35.2-259.2,64c4.8,92.8,220.8,278.4,420.8,244.8  C1166.4,1049.6,1291.2,729.6,1246.4,547.2z M1166.4,414.4c-25.6,27.2-166.4,35.2-244.8,25.6l76.8-64c25.6-8,131.2,6.4,164.8,24  c6.4,3.2,8,6.4,8,6.4C1169.6,408,1169.6,411.2,1166.4,414.4z M846.4,289.6c75.2,0,99.2,27.2,144,80l-75.2,64  c-6.4-57.6-32-96-70.4-113.6c-25.6-9.6-52.8-8-76.8,4.8C788.8,304,814.4,289.6,846.4,289.6z M790.4,726.4  c-80,1.6-171.2,1.6-244.8-1.6c-108.8-4.8-123.2-16-124.8-19.2c1.6-4.8,4.8-11.2,11.2-14.4C499.2,640,825.6,616,1012.8,648l-96,78.4  C884.8,724.8,841.6,726.4,790.4,726.4z M835.2,924.8c78.4-14.4,83.2-86.4,84.8-145.6c1.6-16,1.6-32,4.8-46.4l96-78.4  c-4.8,75.2,0,171.2-54.4,220.8C939.2,905.6,886.4,932.8,835.2,924.8z"/>\a<path fill="#FFFFFF" d="M140.8,494.4l12.8,8l9.6-9.6l-48-48L76.8,480l14.4,14.4l17.6-17.6c12.8,16,8,30.4-1.6,41.6  c-17.6,17.6-40,8-54.4-4.8C40,500.8,30.4,478.4,48,459.2c6.4-6.4,19.2-12.8,32-3.2l22.4-22.4c-27.2-20.8-54.4-8-73.6,12.8  c-27.2,27.2-24,62.4,3.2,88c32,32,62.4,28.8,88,3.2C134.4,524.8,142.4,510.4,140.8,494.4z"/>\a<path fill="#FFFFFF" d="M195.2,459.2l-32-32l24-24c6.4-6.4,12.8-8,25.6,4.8c9.6,9.6,12.8,12.8,19.2,14.4l20.8-20.8  c-8-1.6-17.6-11.2-22.4-14.4c-8-8-22.4-20.8-33.6-12.8l0,0c4.8-12.8,1.6-22.4-9.6-32c-9.6-9.6-27.2-20.8-46.4,0L88,395.2l88,84.8  L195.2,459.2z M124.8,388.8l25.6-25.6c4.8-4.8,12.8-8,20.8,0s6.4,16,1.6,20.8l-27.2,27.2L124.8,388.8z"/>\a<path fill="#FFFFFF" d="M305.6,353.6c40-40,17.6-72-1.6-91.2c-17.6-17.6-52.8-40-91.2-1.6c-40,40-17.6,72,1.6,91.2  C233.6,369.6,267.2,392,305.6,353.6z M230.4,278.4c17.6-17.6,40-8,54.4,4.8c12.8,12.8,22.4,35.2,4.8,54.4c-17.6,17.6-40,8-54.4-4.8  C222.4,318.4,212.8,296,230.4,278.4z"/>\a<path fill="#FFFFFF" d="M398.4,260.8c36.8-36.8,14.4-62.4,4.8-72l-56-56L328,152l49.6,49.6c8,8,22.4,24,4.8,41.6s-32,3.2-41.6-4.8  l-49.6-49.6L272,208l56,56C336,275.2,361.6,297.6,398.4,260.8z"/>\a<path fill="#FFFFFF" d="M467.2,187.2l-30.4-30.4l30.4-30.4c16-16,12.8-35.2-4.8-54.4c-11.2-11.2-30.4-20.8-52.8-1.6l-48,48  l86.4,86.4L467.2,187.2z M395.2,116.8l22.4-22.4c4.8-4.8,12.8-11.2,24,1.6c11.2,11.2,4.8,19.2-1.6,25.6l-20.8,20.8L395.2,116.8z"/>\a<path fill="#FFFFFF" d="M553.6,25.6l20.8-14.4c9.6-6.4,16-9.6,22.4-1.6c8,8,4.8,17.6-4.8,27.2c-8,8-20.8,16-32,4.8L537.6,64  c27.2,27.2,52.8,6.4,70.4-11.2C636.8,22.4,632,0,616-16s-32-12.8-48-1.6L539.2,1.6c-6.4,3.2-12.8,4.8-16,0c-6.4-6.4-4.8-14.4,3.2-24  c8-8,17.6-16,30.4-4.8l22.4-22.4c-25.6-24-51.2-3.2-65.6,11.2c-22.4,22.4-28.8,43.2-9.6,64C521.6,44.8,537.6,36.8,553.6,25.6z"/>\a<path fill="#FFFFFF" d="M849.6,1097.6l-78.4,78.4c-33.6,33.6-86.4,33.6-120,0L177.6,700.8c-33.6-33.6-33.6-86.4,0-120l473.6-475.2  c33.6-33.6,86.4-33.6,120,0l57.6,57.6c4.8,4.8,11.2,4.8,14.4,0c4.8-4.8,4.8-11.2,0-14.4l-57.6-57.6c-41.6-41.6-108.8-41.6-150.4,0  L161.6,566.4c-41.6,41.6-41.6,108.8,0,150.4L636.8,1192c20.8,20.8,48,30.4,75.2,30.4s54.4-11.2,75.2-30.4l78.4-78.4  c4.8-4.8,4.8-11.2,0-14.4C860.8,1094.4,854.4,1094.4,849.6,1097.6z"/>\a</svg>') no-repeat;
  background-position: center; }

.HeaderBrand .HeaderBrandLogo a {
  display: block;
  width:   52px;
  height:  80px; }

.HeaderBrand .HeaderBrandUnivers {
  font-family: 'Libre Baskerville';
  font-style:  italic;
  font-size:   20px;
  line-height: 0.9em;
  opacity:     .92;
  white-space: nowrap;
  cursor:      default; }

.HeaderBrand .HeaderBrandUnivers .HeaderBrandUniversClientName {
  font-family:    'Roboto', serif;
  font-style:     normal;
  font-weight:    300;
  font-size:      11px;
  text-transform: uppercase;
  opacity:        .8;
  cursor:         default; }

.Dropdown {
  display: table-cell; }

.Dropdown, .Dropdown li, .Dropdown a {
  color: #000; }

.Dropdown a {
  text-decoration: none; }

.Dropdown a i {
  margin-right: 1rem; }

.Dropdown > ul {
  display:          none;
  position:         absolute;
  top:              80px;
  right:            0;
  min-width:        300px;
  border:           1px solid rgba(155, 160, 165, 0.38);
  box-shadow:       0 1px 9px rgba(0, 0, 0, 0.176);
  background-color: white;
  color:            #000; }

.Dropdown > ul > li {
  padding: .75rem 2.5rem .75rem 1.875rem; }

.Dropdown:hover ul {
  display: block; }

.Dropdown:hover ul li {
  opacity: .75; }

.Dropdown:hover ul li:hover {
  opacity:          1;
  background-color: rgba(0, 0, 0, 0.05); }

.HeaderMenu {
  float: right; }

.HeaderMenu > ul > li {
  padding:             0 .75rem;
  color:               white;
  background-color:    transparent;
  opacity:             .7;
  -webkit-user-select: none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  user-select:         none; }

.HeaderMenu > ul > li:hover {
  opacity:          .9;
  background-color: rgba(0, 0, 0, 0.1); }

.HeaderMenu li {
  font-size: .875rem; }

.HeaderMenu .HeaderMenuAccount {
  font-family: "Roboto Light";
  font-size:   .875rem; }

.HeaderMenu .HeaderMenuAccount .Username {
  padding-right: .75rem; }

.HeaderMenu .HeaderMenuAccount,
.HeaderMenu .HeaderMenuInbox,
.HeaderMenu .HeaderMenuNews,
.HeaderMenu .HeaderMenuApplication,
.HeaderMenu .HeaderMenuFaq,
.HeaderMenu .HeaderMenuLogout {
  display:        table-cell;
  height:         80px;
  line-height:    80px;
  text-transform: uppercase; }

.HeaderMenu .HeaderMenuAccount li,
.HeaderMenu .HeaderMenuInbox li,
.HeaderMenu .HeaderMenuNews li,
.HeaderMenu .HeaderMenuApplication li,
.HeaderMenu .HeaderMenuFaq li,
.HeaderMenu .HeaderMenuLogout li {
  font-family:    "Roboto";
  font-weight:    normal;
  text-transform: none;
  line-height:    1.5rem; }

.HeaderMenu .HeaderMenuAccount li:not(:first-child),
.HeaderMenu .HeaderMenuInbox li:not(:first-child),
.HeaderMenu .HeaderMenuNews li:not(:first-child),
.HeaderMenu .HeaderMenuApplication li:not(:first-child),
.HeaderMenu .HeaderMenuFaq li:not(:first-child),
.HeaderMenu .HeaderMenuLogout li:not(:first-child) {
  border-top: 1px solid rgba(155, 160, 165, 0.38); }

.Hico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family:             'header' !important;
  speak:                   none;
  font-style:              normal;
  font-weight:             normal;
  font-variant:            normal;
  text-transform:          none;
  line-height:             1;
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale; }

.Hico_apps:before {
  content: "\e900"; }

.Hico_archies:before {
  content: "\e901"; }

.Hico_bell:before {
  content: "\e902"; }

.Hico_bell-slash:before {
  content: "\e903"; }

.Hico_book:before {
  content: "\e904"; }

.Hico_check:before {
  content: "\e905"; }

.Hico_check-square:before {
  content: "\e906"; }

.Hico_chevron-down:before {
  content: "\e907"; }

.Hico_chevron-left:before {
  content: "\e908"; }

.Hico_chevron-right:before {
  content: "\e909"; }

.Hico_chevron-up:before {
  content: "\e90a"; }

.Hico_clock:before {
  content: "\e90b"; }

.Hico_close:before {
  content: "\e90c"; }

.Hico_cog:before {
  content: "\e90d"; }

.Hico_cogs:before {
  content: "\e90e"; }

.Hico_dimona:before {
  content: "\e90f"; }

.Hico_elocked:before {
  content: "\e910"; }

.Hico_envelope:before {
  content: "\e911"; }

.Hico_envelope-o:before {
  content: "\e912"; }

.Hico_eye:before {
  content: "\e913"; }

.Hico_eye-slash:before {
  content: "\e914"; }

.Hico_fireassist:before {
  content: "\e915"; }

.Hico_folder:before {
  content: "\e916"; }

.Hico_folder-open:before {
  content: "\e917"; }

.Hico_gca:before {
  content: "\e918"; }

.Hico_groups:before {
  content: "\e919"; }

.Hico_groups_w:before {
  content: "\e91a"; }

.Hico_hierarchy:before {
  content: "\e91b"; }

.Hico_hireassist:before {
  content: "\e91c"; }

.Hico_iadmin:before {
  content: "\e91d"; }

.Hico_ibrunet:before {
  content: "\e91e"; }

.Hico_icar:before {
  content: "\e91f"; }

.Hico_identity:before {
  content: "\e920"; }

.Hico_idocs:before {
  content: "\e921"; }

.Hico_idocsFormalis:before {
  content: "\e922"; }

.Hico_imobile:before {
  content: "\e923"; }

.Hico_in:before {
  content: "\e924"; }

.Hico_inholidays:before {
  content: "\e925"; }

.Hico_iout:before {
  content: "\e926"; }

.Hico_ipickup:before {
  content: "\e927"; }

.Hico_ireport:before {
  content: "\e928"; }

.Hico_ireporting:before {
  content: "\e929"; }

.Hico_isenior:before {
  content: "\e92a"; }

.Hico_isimul:before {
  content: "\e92b"; }

.Hico_maintenance:before {
  content: "\e92c"; }

.Hico_mobilitysim:before {
  content: "\e92d"; }

.Hico_news:before {
  content: "\e92e"; }

.Hico_newspaper:before {
  content: "\e92f"; }

.Hico_onlinedoc:before {
  content: "\e930"; }

.Hico_onss:before {
  content: "\e931"; }

.Hico_out:before {
  content: "\e932"; }

.Hico_poweroff:before {
  content: "\e933"; }

.Hico_presta:before {
  content: "\e934"; }

.Hico_prestaweb:before {
  content: "\e935"; }

.Hico_question:before {
  content: "\e936"; }

.Hico_question-circle:before {
  content: "\e937"; }

.Hico_search:before {
  content: "\e938"; }

.Hico_sign-out:before {
  content: "\e939"; }

.Hico_tools:before {
  content: "\e93a"; }

.Hico_transfer:before {
  content: "\e93b"; }

.Hico_trash:before {
  content: "\e93c"; }

.Hico_unlock:before {
  content: "\e93d"; }

.Hico_Untitled-1:before {
  content: "\e93e"; }

.Hico_user:before {
  content: "\e93f"; }

.Hico_whoiswho:before {
  content: "\e940"; }

/*# sourceMappingURL=style.css.map */
