@import 'constants';
// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $global-radius;
  border: 1px solid grey;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
  &:focus {
    color: $dark-grey;
    border-color: lighten($dark-grey, 33.3%);
    outline: 0;
  }
  .button_primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover {
      color: #fff;
      background-color: $link-color;
      border-color: $link-color;
    }
    &:focus {
      color: #fff;
      background-color: $link-color;
      border-color: $link-color;
    }
  }
}
