$heightHeader: 80px;
$heightFooter: 30px;

$groupSBlue: #086cc3;
$footerColor: #424242;
$footerTextColor: #aaa;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
//$primary-color: #33c3f0 !default;
$primary-color: $groupSBlue;
$secondary-color: lighten($dark-grey, 13.5%) !default;
//$secondary-color: $groupSBlue;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;


// Misc
$global-radius: 4px !default;
