@value loader-color #4bbcce;

/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}*/
html,
body {
    height: 100%;
    margin: 0;
    font-size: 15px;
    background: aliceblue;
    display:    flex;
}

td, th {
    border: 1px solid #969cff;
}

tr:nth-child(even) {
    background: aliceblue
}

tr:nth-child(odd) {
    background: #ffffff
}

/* LOADER */

/* Absolute Center CSS Spinner */
.loading {
    position: fixed;
    z-index:  999;
    height:   2em;
    width:    2em;
    overflow: visible;
    margin:   auto;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}

/* Transparent Overlay */

.loading:before {
    content:          '';
    display:          block;
    position:         fixed;
    top:              0;
    left:             0;
    width:            100%;
    height:           100%;
    background-color: rgba(75, 188, 206, 0.3);
}

.pulseLoader:not(:required) {
    display:               inline-block;
    width:                 50px;
    height:                50px;
    -moz-animation:        pulseLoader 0.7s linear infinite alternate;
    -webkit-animation:     pulseLoader 0.7s linear infinite alternate;
    animation:             pulseLoader 0.7s linear infinite alternate;
    border:                2px solid loader-color;
    -moz-border-radius:    50%;
    -webkit-border-radius: 50%;
    border-radius:         50%;
    overflow:              hidden;
    text-indent:           50px;
}

@-moz-keyframes pulseLoader {
    0% {
        -moz-box-shadow: loader-color 0 0 0px 20px;
        box-shadow:      loader-color 0 0 0px 20px;
    }
    40% {
        -moz-box-shadow: none;
        box-shadow:      none;
    }
    100% {
        -moz-box-shadow: loader-color 0 0 0px 25px inset;
        box-shadow:      loader-color 0 0 0px 25px inset;
    }
}

@-webkit-keyframes pulseLoader {
    0% {
        -webkit-box-shadow: loader-color 0 0 0px 20px;
        box-shadow:         loader-color 0 0 0px 20px;
    }
    40% {
        -webkit-box-shadow: none;
        box-shadow:         none;
    }
    100% {
        -webkit-box-shadow: loader-color 0 0 0px 25px inset;
        box-shadow:         loader-color 0 0 0px 25px inset;
    }
}

@keyframes pulseLoader {
    0% {
        -moz-box-shadow:    loader-color 0 0 0px 20px;
        -webkit-box-shadow: loader-color 0 0 0px 20px;
        box-shadow:         loader-color 0 0 0px 20px;
    }
    40% {
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
    }
    100% {
        -moz-box-shadow:    loader-color 0 0 0px 25px inset;
        -webkit-box-shadow: loader-color 0 0 0px 25px inset;
        box-shadow:         loader-color 0 0 0px 25px inset;
    }
}
