.main_div {
	width: 30%;
	display: inline-block;
}

.text_overflow {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu {
    list-style-type: none;
}

.menuCatSpan {
    compose-with: text_overflow;
    display: inline-block;
    width:   100%;
}

.menuRoot {
    border: 1px solid #969cff;
}

.menuRefDoc {
    list-style-type: none;
}

.menuDocRefSpan {
	compose-with: text_overflow;
    display: inline-block;
    width:   100%;
}


.menuDocRefLi {
    border: 1px solid #969cff;
}
.menuCatLi {
    border: 1px solid #969cff;
}


