.box,
.lightbox {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  visibility: collapse;
  opacity: 0;
}

.lightbox {
  display: table;
  position: relative;
  margin: 10% auto 0;
  padding: .5rem;
  background-color: white;
}
.lightbox a {
  float: right;
}
.lightbox p {
  padding: 3rem;
}

.box:target {
  visibility: visible;
  opacity: 1;
}
.box:target .lightbox {
  opacity: 1;
}

.dropzone {
  min-width: 400px;
  min-height: 400px;
  margin: 30px;
  border: 5px dashed gainsboro;
  border-radius: 20px;
  color: #eeeeee;
  background: url('data:image/svg+xml;utf8,<svg version="1.1" id="upload" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 199.4 146.2" enable-background="new 0 0 199.4 146.2" xml:space="preserve"><path fill="#EEEEEE" d="M159.5,146.2h-113C20.9,146.2,0,125.3,0,99.7c0-18.1,10.5-34.5,26.8-42.1c-0.1-1.6-0.2-3-0.2-4.5C26.6,23.8,50.4,0,79.7,0c21.6,0,41,13.1,49.2,33c4.8-4.1,10.9-6.4,17.2-6.4c14.6,0,26.6,11.9,26.6,26.6c0,5.1-1.5,10.1-4.3,14.3c18.1,4.3,30.8,20.3,30.8,38.8C199.4,128.3,181.5,146.2,159.5,146.2z M132,74L95.4,37.5c-0.6-0.6-1.5-0.9-2.4-0.9c-0.8,0-1.8,0.3-2.4,0.9L54.2,73.9c-0.6,0.7-1,1.6-1,2.5c0,1.9,1.5,3.3,3.3,3.3h23.3v36.6c0,1.8,1.6,3.3,3.3,3.3H103c1.8,0,3.3-1.6,3.3-3.3V79.7h23.3c1.9,0,3.3-1.6,3.3-3.3C132.9,75.6,132.6,74.7,132,74z"/></svg>') center 150px no-repeat;
}

